.container main {
  margin-right: 100px;
}

.container .image {
  margin-top: -20px
}

.container .image img {
  width: 600px;
  margin-left: -50px;
  margin-right: 60px;
}

main .button {
  display: flex;
  flex-direction: column;
  height: auto;
}

main .button button,
main .button a {
  margin-bottom: 16px;
  transition: .3s;
}

main .button a.register {
  background-color: var(--background-container);
  border: 1px solid #DEDEE3;
  color: #47474D;
  width: 384px;
  height: 64px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

main .button a.register:hover {
  color: #fff;
  background: var(--primary-color);
}

.wrapper-form {
  justify-content: space-between;
}

form {
  margin-bottom: 40px;
}


