
body {
  background-color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  height: 80%;
  display: flex;
  margin: 103px 160px;
  justify-content: space-around;
}

.container main {
  width: 430px;
}

.container main .logo img {
  margin-left: -80px;
}

.container main h2.title {
  color: #ffff;
  font-size: 54px;
  margin-bottom: 20px;

  line-height: 54px;
}

.container main p {
  color: #FFFF;
  margin-bottom: 70px;

  width: 331px;
  height: 60px;

  font-size: 20px;
  line-height: 30px;
}

.container .image {
  text-align: right;
  width: 608px;
}

.container .image img {
  margin-top: 66px;
}

.container main .button {
  width: 292px;
  height: 80px;

  background-color: var(--primary-color);
  color: #F4F5F6;

  transition: .3s;
}

.container main .button:hover {
  background-color: var(--primary-hover);
}